@page
@model IndexModel
@{
    ViewData["Title"] = "Добро пожаловать в магазин котиков";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="jumbotron text-center">
                <h1 class="display-4">Добро пожаловать в магазин котиков</h1>
                <p class="lead">Ваш идеальный выбор для всего, что связано с котиками!</p>
                <hr class="my-4">
                <p>Исследуйте наш широкий ассортимент очаровательных котов и найдите своего идеального компаньона уже сегодня.</p>
                <a class="btn btn-primary btn-lg" href="/Cats" role="button">Посмотреть котов</a>
            </div>
        </div>
    </div>
</div>